body {
    background-image: url("cupang 3.jpg");
    background-repeat: repeat-x;
}
.data{
    color: black;
    background-color: white;
}
.tambah{
    background: grey;
    color: white;
    text-decoration: none;
}
.e{
    display: block;
    height: 20px;
}
.e:hover{
    background: darkblue;
}
